<div class="container subpage_dark tabpage">
	<h2>Task:  <%= @team.name %></h2>
</div>
<div class="dark_form">
	<div class="container">
			<%= render 'form' %>
			<%= link_to 'Show', @task %> |
			<%= link_to 'Back', tasks_path %>
	</div>
</div>







